body {
  background-color: #3ea9f5;
  font-size: 24px;
  color: #fff;
  font-family: "Inconsolata", Arial;
}
html,
body {
  height: 100%;
  margin: 0;
}

a:link,
a:visited {
  color: #0c8ae3;
}

a:focus {
  color: inherit;
  outline: none;
}

header {
  position: fixed;
  top: 5px;
  left: 0;
  text-align: center;
  width: 100%;
}

h1 {
  color: #fff;
}

p {
  margin: 0;
}

.centered {
  text-align: center;
  display: table;
  height: 100%;
  margin: 0 auto;
}

.size {
  display: table-cell;
  vertical-align: middle;
  line-height: 1.5;
  font-size: 40px;
  font-size: 10vmin;
  position: relative;
}

.size p > span {
  color: #fff;
}

.size a {
  text-decoration: none;
}

.copied-alert {
  display: none;
  position: fixed;
  left: 50%;
  top: 20%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  z-index: 3000;
  color: #fff;
  background-color: #0c8ae3;
  font-size: 14px;
  line-height: 2;
}

.foot {
  font-size: 14px;
  position: fixed;
  bottom: 10px;
  left: 0;
  text-align: center;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
}

.foot a:link,
.foot a:visited {
  text-decoration: none;
  color: #0a76c3;
}

.foot a:hover {
  border-bottom: 1px solid #0c8ae3;
}

.copy {
  color: #0c8ae3;
  display: inline-block;
}

.copy.zeroclipboard-is-hover {
  color: #0a76c3;
}
.copy.zeroclipboard-is-active {
  color: #0c8ae3;
}
