body {
  background-color: #14213d;
  font-size: 24px;
  color: #fff;
  font-family: "Inconsolata", Arial;
}
html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:active {
  color: #fca311;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  flex: 1;
}

section {
  flex: 1;
  text-align: center;
}

footer {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.getSize {
  font-size: 9vmin;
  color: #fff;
  margin-bottom: 8px;
}

.getSize span {
  font-weight: 700;
  color: #fca311;
}

.copied-alert {
  display: none;
  position: fixed;
  left: 50%;
  top: 25%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
  z-index: 3000;
  color: #000000;
  background: #fca311;
  font-size: 14px;
  line-height: 2;
}

button {
  vertical-align: middle;
  border: none;
  background: #e5e5e5;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 3vmin;
  line-height: 2;
  padding: 0.3em 1em;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

button:hover {
  background: #fca311;
}

button:active {
  background: #fca311ab;
}
